{include file="public::pageheader"}

        <!-- //for bootstrap working -->
{include file="public::signinup"}
{include file="public::header"}
{include file="public::nav"}

        <!-- banner -->
{include file="public::banner"}
        <!-- //banner --> 
        <!-- banner-bottom -->
{include file="public::banner_bottom"}    
        <!-- //banner-bottom --> 
        <!-- modal-video -->
{include file="public::video"}  
        <!-- //modal-video -->
        <!-- banner-bottom1 -->
{include file="public::banner_bottom1"} 
        <!-- //banner-bottom1 --> 
        <!-- special-deals -->
{include file="public::special_products"}     
        <!-- //special-deals -->
        <!-- new-products -->
{include file="public::new_products"} 
        <!-- //new-products -->
        <!-- top-brands -->
{include file="public::brands"} 
        <!-- //top-brands --> 
        <!-- newsletter -->

{include file="public::newsletter"} 
        <!-- //newsletter -->
        <!-- footer -->
{include file="public::footer"}        
        <!-- //footer --> 

{include file="public::pagefooter"}  
