{include file="public::pageheader"}

<!-- //for bootstrap working -->
{include file="public::signinup"}
{include file="public::header"}
{include file="public::nav"}

<!-- banner -->
{include file="public::banner1"}
<!-- breadcrumbs -->
{include file="public::breadcrumbs"}
<!-- //breadcrumbs --> 
<!-- mobiles -->
{include file="public::mobile"}
{include file="public::video1"}
<!-- Related Products -->
{include file="public::relate"}
<!-- //Related Products -->
<!-- newsletter -->
{include file="public::newsletter"}
<!-- //newsletter -->
<!-- footer -->
{include file="public::footer"}
<!-- //footer -->  

{include file="public::pagefooter"}