{include file="public::pageheader"}
{include file="public::signinup"}
{include file="public::header"}
{include file="public::nav"}

<!-- banner -->
{include file="public::banner1"}
<!-- breadcrumbs -->
{include file="public::breadcrumbs"}
<!-- //breadcrumbs --> 
	<!-- single -->
{include file="public::single"}
{include file="public::additional"}
	<!-- Related Products -->
{include file="public::relate"}
	<!-- //Related Products -->
{include file="public::video2"}
	<!-- //single -->
<!-- newsletter -->
{include file="public::newsletter"}
<!-- //newsletter -->
<!-- footer -->
{include file="public::footer"}
<!-- //footer -->  
{include file="public::pagefooter"}