<div class="additional_info">
    <div class="container">
        <div class="sap_tabs">	
            <div id="horizontalTab1" style="display: block; width: 100%; margin: 0px;">
                <ul>
                    <li class="resp-tab-item" aria-controls="tab_item-0" role="tab"><span>Product Information</span></li>
                    <li class="resp-tab-item" aria-controls="tab_item-1" role="tab"><span>Reviews</span></li>
                </ul>		
                <div class="tab-1 resp-tab-content additional_info_grid" aria-labelledby="tab_item-0">
                    <h3>{$data.goods_name}</h3>
                    <p>{$data.describe}</p>
                </div>	

                <div class="tab-2 resp-tab-content additional_info_grid" aria-labelledby="tab_item-1">
                    <h4>(2) Reviews</h4>
                    
                    {volist name="comms" id="comm"}
                    <div class="additional_info_sub_grids">
                        <div class="col-xs-2 additional_info_sub_grid_left">
                            <img src="{$comm.user_info.avatar}" alt=" " class="img-responsive" />
                        </div>
                        <div class="col-xs-10 additional_info_sub_grid_right">
                            <div class="additional_info_sub_grid_rightl">
                                <a href="single.html">{$comm.user_info.name}</a>
                                <h5>{$comm.create_time   |date='Y-m-d'}</h5>
                                <p>{$comm.content}</p>
                            </div>
                            <div class="additional_info_sub_grid_rightr">
                                <div class="rating">
                                    
                                    {for start="1" end="6"}
                                    <div class="rating-left">
                                        <img 
                                            {if ($i<=$comm.rating)}
                                            src="/images/star-.png" 
                                            {else/}
                                            src="/images/star.png"
                                            {/if}
                                            alt=" " class="img-responsive">
                                    </div>
                                    {/for}
                                    
                                    <div class="clearfix"> </div>
                                </div>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    {/volist}
                    <div class="review_grids">
                        <h5>Add A Review</h5>
                        <form action="#" method="post">
                            <input type="text" name="Name" value="Name" onfocus="this.value = '';" onblur="if (this.value == '') {
                                        this.value = 'Name';
                                    }" required="">
                            <input type="email" name="Email" placeholder="Email" required="">
                            <input type="text" name="Telephone" value="Telephone" onfocus="this.value = '';" onblur="if (this.value == '') {
                                        this.value = 'Telephone';}" required="">
                            <textarea name="Review" onfocus="this.value = '';" onblur="if (this.value == '') {
                                        this.value = 'Add Your Review';
                                    }" required="">Add Your Review</textarea>
                            <input type="submit" value="Submit" >
                        </form>
                    </div>
                </div> 			        					            	      
            </div>	
        </div>
        <script src="/static/js/easyResponsiveTabs.js" type="text/javascript"></script>
        <script type="text/javascript">
                                $(document).ready(function () {
                                    $('#horizontalTab1').easyResponsiveTabs({
                                        type: 'default', //Types: default, vertical, accordion           
                                        width: 'auto', //auto or any width like 600px
                                        fit: true   // 100% fit in a container
                                    });
                                });
        </script>
    </div>
</div>