        <div class="banner-bottom1">
            <div class="agileinfo_banner_bottom1_grids">
                <div class="col-md-7 agileinfo_banner_bottom1_grid_left">
                    <h3>Grand Opening Event With flat<span>20% <i>Discount</i></span></h3>
                    <a href="products.html">Shop Now</a>
                </div>
                <div class="col-md-5 agileinfo_banner_bottom1_grid_right">
                    <h4>hot deal</h4>
                    <div class="timer_wrap">
                        <div id="counter"> </div>
                    </div>
                    <script src="/static/js/jquery.countdown.js"></script>
                    <script src="/static/js/script.js"></script>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>