<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home</title>
        <!-- for-mobile-apps -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="" />
        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
            function hideURLbar(){ window.scrollTo(0,1); } </script>
        <!-- //for-mobile-apps -->
        <!-- Custom Theme files -->
        <link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/static/css/style.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/static/css/fasthover.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/static/css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
        <!-- //Custom Theme files -->
        <!-- font-awesome icons -->
        <link href="/static/css/font-awesome.css" rel="stylesheet"> 
        <!-- //font-awesome icons -->
        <!-- js -->
        <script src="/static/js/jquery.min.js"></script>
        <link rel="stylesheet" href="/static/css/jquery.countdown.css" /> <!-- countdown --> 
        <!-- //js -->  
        <!-- web fonts --> 
        <link href='http://fonts.googleapis.com/css?family=Glegoo:400,700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
        <!-- //web fonts -->  
        <!-- start-smooth-scrolling -->
        <script type="text/javascript">
jQuery(document).ready(function ($) {
    $(".scroll").click(function (event) {
        event.preventDefault();
        $('html,body').animate({scrollTop: $(this.hash).offset().top}, 1000);
    });
});
        </script>    
        <!-- //end-smooth-scrolling --> 
    </head> 
        <body>
        <!-- for bootstrap working -->
        <script type="text/javascript" src="/static/js/bootstrap-3.1.1.min.js"></script>